<% provide :title, t("page.admin.words.title") %>
<div class="center">
  <div class="filter filter_padding">
    <%= form_tag admin_words_path, method: :get, id: "search-form" do %>
      <%= t "page.category.title" %>:
      <%= select_tag( :category_id, options_for_select(
        @categories.collect{ |category| [category.name, category.id]},
        params[:category_id]), include_blank: Settings.all,
        class: "selectpicker") %>
      <% Settings.word_filter.each do |key, status| %>
        <%= radio_button_tag :word_filter, status,
          params[:word_filter] == status %>
        <%= label_tag "page_word_filter", t("page.word.#{status}"),
          class: "font-normal" %>
      <% end %>
    </br>
    <div class="form-group row">
      <div class="col-xs-3"></div>
      <div class="col-xs-4">
        <%= text_field_tag :search, params[:search], class: "form-control",
          placeholder: t("page.word.search_placeholer") %>
      </div>
      <div class="col-xs-1">
        <%= submit_tag t("page.word.filter"),
          class: "btn btn-primary glyphicon glyphicon-filter clear" %>
        <% end %>
      </div>
      <div class ="col-xs-2"></div>
      <div class ="col-xs-1">
        <%= link_to t("page.admin.words.link_create_word"),
          admin_create_word_path,
          class: "btn btn-success glyphicon glyphicon-plus" %>
      </div>
    </div>
    </br>
  </div>
  <%= render "words/index.html.erb" %>
</div>
