<div class = "center">
  <h4>
    <%= "#{t "page.category.title"}: #{@word.category.name}" %>
  </h4>
  <h2>
    <%= "#{t "page.category.description"}: #{@word.category.description}" %>
  </h2>
  <h2>
    <%= "#{t "page.word.title"}: #{@word.content}" %>
  </h2>
  <h2>
    <%= t "page.answer.title"%><%= t "page.word.two_dots"%>
    <br/>
    <% @word.answers.each do |answer|
      if answer.is_correct %>
        <h3>
          <span class="label label-success btn-xs" %>
            <%= answer.content %>
          </span>
        </h3>
      <% else %>
        <h3>
          <span class="label label-danger btn-xs" %>
            <%= answer.content %>
          </span>
        </h3>
      <% end %>
      <br/>
    <% end %>
  </h2>
  <span class: "btn btn-infor btn-xs" %>
    <%= link_to t("page.word.update"), "#" %>
  </span>
</div>
