<% provide :title, @user.name %>
<div class="panel panel-info">
  <div class="profile">
    <div class="profile_left">
      <div class="row">
        <div class="col-lg-7">
          <h1><%= t "page.users.profile.my_profile", user_name: @user.name %></h1>
          <table class="tbody_profile table">
            <tbody>
              <tr>
                <td><b><%= t "page.users.profile.td_name" %></b></td>
                <td><%= @user.name %></td>
              </tr>
              <tr>
                <td><b><%= t "page.users.profile.td_email" %></b></td>
                <td><%= @user.email %></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-3">
          <aside>
            <section>
              <h1><%= gravatar_for @user %></h1>
            </section>
            <section class="stats"><%= render "shared/stats" %>
            <%= render "follow_form" if logged_in? %></section>
          </aside>
        </div>
      </div>
    </div>
    <div class="profile_right">
    </div>
  </div>
  <div class="panel-body">
    <div class="col-md-9 col-lg-7">
      <h3 class="lessons_learned_list">
        <%= t "page.users.profile.title_lesson" %>
      </h3>
      <div class="table-responsive table-condensed">
        <table class="table" id="list_user">
          <thead>
            <tr>
              <th><%= t "page.users.profile.td_index" %></th>
              <th><%= t "page.users.profile.td_date" %></th>
              <th><%= t "page.users.profile.td_result" %></th>
              <th><%= t "page.users.profile.td_status" %></th>
            </tr>
          </thead>
          <tbody>
            <% @user.lessons.each.with_index do |lesson, index| %>
              <tr>
                <td><%= index+1 %></td>
                <td><%= localize_time lesson.created_at %></td>
                <% if lesson.is_complete? %>
                  <td>
                    <%= lesson.number_correct.count.to_s + "/" +
                                lesson.results.count.to_s %>
                  </td>
                  <td>
                    <%= link_to t("page.users.profile.stt_finish"),
                      lesson_path(lesson), class: "btn btn-success" %>
                  </td>
                <% else %>
                  <td></td>
                  <td>
                    <%= link_to t("page.users.profile.stt_continue"),
                      lesson_path(lesson), class: "btn btn-primary" %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= will_paginate @lessons %>
      </div>
    </div>
    <div class="col-md-9 col-lg-5">
      <h3 class="activities"><%= t "page.users.profile.title_activities" %></h3>
      <table class="table table_activities">
        <%= render partial: "shared/activity", collection: @activities %>
      </table>
      <h2 class="end_result"><%= t "page.home.end" %></h2>
    </div>
  </div>
  <div class="panel-footer">
    <span class="pull-right">
      <%= link_to edit_user_path(@user) do %>
        <span class="glyphicon glyphicon-edit btn btn-sm btn-warning"></span>
      <% end %>
    </span>
  </div>
</div>
<input type="hidden" class="page-scroll" value="users"/>
