<li><%= f.label f.object.word.content %></li>
<div class="lesson_word">
  <% f.object.word.answers.each do |answer| %>
    <div class="word_answer">
      <%= f.radio_button :word_answer_id, answer.id,
        disabled: f.object.lesson.is_complete? %>
      <%= answer.content %>
      <% if f.object.lesson.is_complete? %>
        <% if answer.is_correct %>
          <%= image_tag "true.png", alt: t("page.word.icon_true"),
            width: Settings.size_icon_true_false,
            height: Settings.size_icon_true_false %>
        <% else %>
          <font color="red">
            <%= t "page.lessons.incorrect_answer" %>
          </font>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <br>
</div>
