<h4>
  <%= 1+f.object.lesson.results.index(f.object) %>.
  <%= f.label f.object.word.content %>
</h4>
<div class="lesson_word">
  <% f.object.word.answers.each do |answer| %>
    <div class="word_answer">
      <%= f.radio_button :word_answer_id, answer.id,
        disabled: f.object.lesson.is_complete? %>
      <%= answer.content %>
      <% if f.object.lesson.is_complete? && f.object.word_answer_id == answer.id %>
        <% if answer.is_correct %>
          <%= image_tag "true.png", alt: t("page.word.icon_true"),
            width: Settings.size_icon_true_false,
            height: Settings.size_icon_true_false %>
        <% else %>
          <%= image_tag "false.png", alt: t("page.word.icon_true"),
            width: Settings.size_icon_true_false,
            height: Settings.size_icon_true_false %>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <br>
</div>
