<div class="content container">
  <div class="row exam">
    <div>
      <span>
        <h4><%= t "page.lessons.show_my_lesson_msg" %><%= @lesson.created_at %></h4>
      </span>
      <hr>
    </div>
    <div class="col-md-7">
      <%= form_for @lesson, class: "edit_exam", id: "edit_exam_1326" do |f| %>
        <ol>
          <%= f.fields_for :results do |builder| %>
              <%= render "result", f: builder %>
              <br>
          <% end %>
          <br>
        </ol>
        <%= f.submit t("page.lessons.btn_save"),
          class: "btn btn-primary btn-submit submit-time-out" %>
        <%= f.submit t("page.lessons.btn_submit"),
          class: "btn btn-danger btn-submit pull-right", id: "btn-finish",
          data: {confirm: t("page.lessons.confirm_msg")} %>
      <% end %>
    </div>
  </div>
</div>
