<table class="table table-hover" id="list_user">
  <thead class="title_table">
    <tr>
      <th class="th_word"><%= t "page.admin.words.td_index" %></th>
      <th class="th_word"><%= t "page.admin.words.td_category" %></th>
      <th class="th_word"><%= t "page.admin.words.td_word_content" %></th>
      <% if current_user.is_admin %>
        <th class="th_word"><%= t "page.admin.words.td_view_detail" %></th>
        <th class="th_word"><%= t "page.admin.words.td_edit_word" %></th>
        <th class="th_word"><%= t "page.admin.words.td_delete_word" %></th>
      <% else %>
        <th class="th_word"><%= t "page.admin.words.td_view_detail" %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @words.each_with_index do |word, index| %>
      <tr id = "word_<%="#{word.id}"%>">
        <td>
          <% params[:page] ||= "1" %>
          <%= 1 + index + (params[:page].to_i-1)*Settings.category.per_word %>
        </td>
        <td><%= word.category.name %></td>
        <td><%= word.content %></td>
        <% if current_user.is_admin %>
          <td>
            <%= link_to t("page.admin.words.link_detail"), [:admin, word],
              class: "btn btn-info glyphicon glyphicon-list-alt" %>
          </td>
          <td>
            <%= link_to t("page.admin.words.link_update"),
              edit_admin_word_path(word),
              class: "btn btn-warning glyphicon glyphicon-edit" %>
          </td>
          <td>
            <%= link_to t("page.admin.words.link_delete"), [:admin, word],
              method: :delete, data: {confirm: t("page.messages.notice"),
              remote: true},
              class: "btn btn-danger glyphicon glyphicon-trash" %>
          </td>
        <% else %>
          <td>
            <%= link_to t("page.word.detail"), word,
              class: "btn btn-info glyphicon glyphicon-list-alt" %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate %>
