<% provide :title, t("page.word.title") %>
<div class="center">
  <div class="filter">
    <%= form_tag words_path, method: :get, id: "search-form" do %>
      <%= t "page.category.title" %>:
      <%= select_tag( :category_id, options_for_select(@categories
        .collect{ |category| [category.name, category.id]},
          params[:category_id]), include_blank: Settings.all,
          class: "form-group") %>
      <% Settings.word_filter.each do |key, status| %>
        <%= radio_button_tag :word_filter, status,
          params[:word_filter] == status %>
        <%= label_tag "page_word_filter", t("page.word.#{status}"),
          class: "font-normal" %>
      <% end %>
    </br>
    <div class="form-group row">
      <div class="col-xs-6">
        <%= text_field_tag :search, params[:search], class: "form-control",
          placeholder: t("page.word.search_placeholer") %>
        <%= submit_tag t("page.word.filter"), class: "btn btn-primary clear"%>
        <% end %>
      </div>
    </div>
  </div>
  <%= render "words/index.html.erb" %>
</div>
