<% provide :title, t("page.word.title") %>
<div class="center">
  <div class="filter">
    <%= form_tag words_path, method: :get, id: "search-form" do %>
      <%= t "page.category.title" %>:
      <%= select_tag( :category_id, options_for_select(@categories
        .collect{ |category| [category.name, category.id]},
          params[:category_id]), include_blank: Settings.all,
          class: "form-group") %>
      <% Settings.word_filter.each do |key, status| %>
        <%= radio_button_tag :word_filter, status,
          params[:word_filter] == status %>
        <%= label_tag "page_word_filter", t("page.word.#{status}"),
          class: "font-normal" %>
      <% end %>
    </br>
      <%= text_field_tag :search, params[:search],
        placeholder: t("page.word.search_placeholer") %>
      <%= submit_tag t("page.word.filter") %>
    <% end %>
  </div>
  <table align="center">
    <tr>
      <th></th>
      <th><%= t"page.category.title" %></th>
      <th><%= t"page.word.title" %></th>
      <th><%= t"page.word.detail" %></th>
    </tr>
    <% @words.each_with_index do |word, index| %>
      <tr>
        <td><%= index %></td>
        <td><span class = "category"><%= word.category.name %></span></td>
        <td><span class = "content"><%= word.content %></span></td>
        <td>
          <span class = "content">
            <%= link_to t("page.word.detail"), word %>
          </span>
        </td>
      </tr>
    <% end %>
  <table>
  <%= will_paginate %>
</div>
