<div class="show_answer">
  <h4 class="h_answer">
    <%= "#{t "page.category.title"}: #{@word.category.name}" %>
  </h4>
  <h4 class="h_answer">
    <%= "#{t "page.category.description"}: #{@word.category.description}" %>
  </h4>
  <hr>
  <h4><%= "#{t "page.word.title"}: #{@word.content}" %></h4>
  <h4>
    <% @word.answers.each.with_index do |answer, index| %>
      <div class="container">
        <div class="row">
          <div class="col-lg-1"></div>
          <% if answer.is_correct %>
            <div class="col-lg-5">
              <h5>answer: <% answer.id %><%= answer.content %></h5>
            </div>
            <%= image_tag "true.png", alt: t("page.word.icon_true"),
              width: Settings.size_icon_true_false,
              height: Settings.size_icon_true_false %>
          <% end %>
          <br/>
        </div>
      </div>
    <% end %>
  </h4>
</div>
