<% provide :title, t("page.admin.users.title") %>
<h1><%= t "page.admin.users.title"  %></h1>
<%= form_tag admin_users_path, method: :get do %>
  <div class="form-group row">
    <div class="col-xs-6">
      <%= text_field_tag :search, params[:search], class: "form-control",
        placeholder: t("page.admin.users.placeholder_search") %>
    </div>
  </div>
<% end %>
<table class="table table-hover" id="list_user">
  <thead class="title_table">
    <tr>
      <th class="user_name"><%= t "page.admin.users.td_index" %></th>
      <th class="user_name"><%= t "page.admin.users.td_Avatar" %></th>
      <th class="user_name"><%= t "page.admin.users.td_name" %></th>
      <th class="user_email"><%= t "page.admin.users.td_email" %></th>
      <th class="user_name"><%= t "page.admin.users.td_delete" %></th>
    </tr>
  </thead>
  <tbody>
      <% @users.each.with_index do |user, index| %>
        <tr>
          <td>
            <% params[:page] ||= "1" %>
            <%= 1 + index + (params[:page].to_i-1)*Settings.category.per_word %>
          </td>
          <td><%= gravatar_for user, size: 50 %></td>
          <td><%= link_to user.name, user %></td>
          <td><%= user.email %></td>
          <td>
            <% if current_user.is_admin? && !current_user.current_user?(user) %>
              <%= link_to image_tag("delete-user-icon.png"),
                [:admin, user], method: :delete,
                data: {confirm: t("page.admin.users.delete_confirm")} %>
            <% end %>
          </td>
        </tr>
      <% end %>
  </tbody>
</table>
<%= will_paginate %>
