<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t("page.framgia_system"), root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("page.home.home"), root_path %></li>
        <li><%= link_to t("page.help.help"), help_path %></li>
        <% if logged_in? %>
          <li><%= link_to t("page.user.title"), "#" %></li>
          <li><%= link_to t("page.category.title"), categories_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= t "page.account" %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to t("page.profile.title"), current_user %>
              </li>
              <li><%= link_to t("page.setting.title"),
                edit_user_path(current_user) %>
              </li>
              <li class="divider"></li>
              <li>
                <%= link_to t("page.logout"), logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to t("page.login"), login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
