<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t("page.framgia_system"), root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("page.home.home"), categories_path %></li>
        <li><%= link_to t("page.help.help"), help_path %></li>
        <% if logged_in? %>
          <li>
            <% if current_user.is_admin %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <%= t "page.admin.manager" %>
                  <%= image_tag "manager-icon.png" %>
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <%= link_to t("page.category.title"), admin_categories_path %>
                  </li>
                  <li><%= link_to t("page.manager_user.users"), admin_users_path %></li>
                </ul>
              </li>
            <% else %>
              <%= link_to t("page.category.title"), categories_path %>
            <% end %>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= t "page.account" %>
              <%= image_tag "account-icon.png" %>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to t("page.profile.title"), current_user %>
              </li>
              <% unless current_user.is_admin? %>
                <li><%= link_to t("page.setting.title"),
                  edit_user_path(current_user) %>
                </li>
              <% end %>
              <li class="divider"></li>
              <li>
                <%= link_to t("page.logout"), logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to t("page.login"), login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
